<div>
    <div style="padding-bottom:1%">
        <h2 style="border-bottom:2px solid black;background-repeat: no-repeat;
    background-attachment: fixed;">
            Gallery
        </h2>
    </div>
    @Html.Action("_PhotoGallery", "Photo")
    @Html.ActionLink("Creer une photo", "Create")
   
</div>